/* game board table */
body {
  background-color: rgb(17, 22, 22);
}
button {
  background-color: rgb(85, 32, 211);
  height: 40px;
  color: white;
  font-size: large;
}
#board {
  margin: auto;
}
#board td {
  width: 50px;
  height: 50px;
  position: relative;
}
#pannel {
  width: 515px;
  min-height: 70px;
  border-left: solid 12px #1e1392;
  border-right: solid 12px #1e1392;
  text-align: center;
  margin: auto;
}
.roundDiv {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  left: -12px;
}
#column-top td {
  padding: 7px;
}
/* pieces are div within game table cells: draw as colored circles */
h1 {
  text-align: center;
  font-size: 60px;
  color: white;
  font-family: sans-serif;
  font-style: italic;
}
.piece {
  /* TODO: make into circles */
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  z-index: -1;
  left: 1px;
  bottom: 0px;
}
.drop {
  animation: drop 0.5s ease forwards;
}
@keyframes drop {
  0% {
    transform: translateY(-500px);
  }
  60% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.reset {
  animation: reset 0.5s ease forwards;
}
@keyframes reset {
  0% {
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}
/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.player1 {
  background-color: red;
  position: absolute;
  border: solid 5px rgb(189, 8, 8);
}
.player2 {
  background-color: gold;
  position: absolute;
  border: solid 5px rgb(184, 157, 5);
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  cursor: pointer;
}

.spin {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.row5 td {
  border: solid 12px #251a9b;
}
.row5 .roundDiv {
  border: solid 12px #251a9b;
}
.row4 td {
  border: solid 12px #2a2696;
}
.row4 .roundDiv {
  border: solid 12px #2a2696;
}
.row3 td {
  border: solid 12px #3437a4;
}
.row3 .roundDiv {
  border: solid 12px #3437a4;
}
.row2 td {
  border: solid 12px #3d47b3;
}
.row2 .roundDiv {
  border: solid 12px #3d47b3;
}
.row1 td {
  border: solid 12px #4758c1;
}
.row1 .roundDiv {
  border: solid 12px #4758c1;
}
.row0 td {
  border: solid 12px #5168d0;
}
.row0 .roundDiv {
  border: solid 12px #5168d0;
}
